<div class="d-flex justify-content-between align-items-center px-4 py-2 border-bottom mb-3">
  <h3 class="my-1"><%= link_to "MINEYA", root_path, class:"text-dark" %></h3>
  <% if user_signed_in? %>
    <div class="ml-auto">
      <%= link_to "Modifier mon profil", edit_user_registration_path, class:"btn btn-light mx-2 text-info"%>
      <%= link_to t(".sign_out", default: "Déconnexion"), destroy_user_session_path, method: :delete, class:"btn btn-light mx-2 text-info" %>
    </div>
  <% else %>
    <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path %>
  <% end %>
</div>
